html {
	scroll-behavior: smooth;
}

li {
	list-style: none;
}

a {
	color: #110038;
	text-decoration: none;
}

label {
	display: none;
}

body {
	background: #fff3fd;
}

.container {
	max-width: 1200px;
}
