.main-title {
	height: 23px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
}

.main-title__text {
	align-self: center;
	font-family: $font-primary;
	font-weight: 400;
	font-size: $font-12;
	line-height: 1em;
	margin-left: 7px;
}

.container {
	max-width: 1200px;
	margin: auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
	margin-bottom: 16px;

	&__container {
		display: flex;
		align-items: center;
	}

	&__return {
		height: 24px;
		width: 24px;
		position: relative;
	}

	&__logo {
		margin: 8px 6.3px;
	}

	&__dropdown {
		height: 102px;
		padding: 0 10px 10px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: absolute;
		z-index: 2;
		width: 180px;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $font-primary;
		font-weight: 400;
		font-size: $font-16;
		line-height: $font-18;
	}
}

.search {
	height: 99px;

	&-title {
		height: 24px;
		display: flex;
		align-items: center;
		margin: 2px;
		position: relative;
		top: 2px;

		&__text {
			margin-left: 6px;
			font-family: $font-primary;
			font-size: $font-14;
			line-height: $font-18;
			font-weight: 700;
		}
	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 12px 18px 12px 15px;
	}

	&-input {
		height: 48px;
		width: 1057px;
		padding: 0 16px;
		border: 1px solid #979797;
		font-family: $font-primary;
		font-size: $font-16;
		line-height: $font-22;
		color: $color-midgrey;
	}
}

.autocomplete {
	height: auto;
	width: 1200px;
	position: absolute;
	padding: 17px 128px 6px 15px;
	z-index: 2;

	&-tag {
		font-family: $font-primary;
		font-size: $font-16;
		padding-left: $font-16;
		margin-right: 8px;
		text-align: left;
		margin-bottom: 10px;
	}
}

.related {
	position: absolute;
	margin-top: 12px;

	&__tag {
		min-width: 50px;
		height: 34px;
		padding: 0 7px;
		margin-right: 8px;
		font-family: $font-primary;
		font-size: $font-14;
	}
}

.tendencies,
.today,
.results,
.my-gifos {
	margin-top: 64px;
}

.section-header {
	height: 32px;
	padding: 0 7px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	font-family: $font-primary;
	font-weight: 400;
	font-size: $font-16;
	line-height: $font-18;
}

.section-header__title {
	font-family: $font-primary;
	font-weight: 400;
	font-size: $font-14;
	line-height: $font-18;
}

.today {
	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 288px;
		height: 313px;
		overflow: hidden;
	}
}

.item {
	&-header {
		height: 24px;
		margin: 0 4px;
		overflow: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		top: 2px;

		&__text {
			margin: 0 3px;
			font-family: $font-primary;
			font-size: $font-14;
			font-weight: 700;
			line-height: $font-18;
		}

		&__img {
			width: 16px;
			height: 14px;
			margin-right: 4px;
			cursor: pointer;
		}
	}

	&__img {
		width: 280px;
		height: 280px;
		position: relative;
		top: 4px;
		left: 4px;
		z-index: 1;
	}
}

// GIFS FORMATTING (RESUTLS AND TENDENCIES) ---------------------------------------------

.tendencies-container,
.results-container,
.saved-container {
	max-width: 1200px;
	display: grid;
	grid-auto-flow: dense;
	gap: $font-10;
	grid-template-columns: repeat(4, 1fr);
}

.gif {
	height: 304px;
	padding: 4px;
	display: flex;
	position: relative;
	justify-content: space-between;

	&:hover .gif__text {
		visibility: visible;
	}

	&__img {
		width: 100%;
		height: 296px;
		object-fit: cover;
		position: relative;
		align-self: center;
	}

	&__text {
		width: calc(100% - 8px);
		height: 24px;
		overflow: hidden;
		position: absolute;
		bottom: 4px;
		left: 4px;
		align-items: center;
		padding: 0 4px;
		font-family: $font-primary;
		font-weight: 700;
		font-size: $font-14;
		line-height: $font-28;
		visibility: hidden;
	}
}

// CREATE GIFOS		--------------------------------------------------------------------

.create-gifos {
	margin-top: 75px;
	margin-bottom: 153px;
}

.create-window {
	height: 386px;
	width: 684px;
	position: relative;
	margin: auto;

	&__title {
		height: 24px;
		width: 678px;
		position: relative;
		top: 3px;
		margin: 3px 3px;
		font-family: $font-primary;
		font-weight: 700;
		font-size: $font-14;
		line-height: $font-24;
		padding-left: 4px;
	}

	&__header-text {
		font-family: $font-primary;
		font-weight: 700;
		font-size: $font-16;
		line-height: $font-28;
	}

	&__icon {
		position: relative;
		top: 30px;
		left: 25px;
	}

	&__header {
		margin-left: 73px;
		color: $color-darkblue;
		font-family: $font-primary;
		font-weight: 700;
		font-size: $font-16;
		line-height: $font-22;
	}

	&__text {
		margin: 14px 93px 0px 73px;
		color: $color-darkblue;
		font-family: $font-primary;
		font-weight: 400;
		font-size: $font-14;
		line-height: $font-20;
	}

	&__buttons {
		display: flex;
		position: absolute;
		bottom: 36px;
		right: 36px;
	}
}

.capture-window {
	height: 548px;
	width: 860px;
	padding: 0 13px 0 4px;
	position: relative;
	display: flex;
	margin: auto;

	&__title {
		height: 24px;
		width: 854px;
		padding: 0 10px 0 4px;
		position: absolute;
		top: 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: $font-primary;
		font-weight: 700;
		font-size: $font-14;
		line-height: $font-18;
	}

	&__display {
		width: 838px;
		height: 440px;
		margin: 35px 1px 21px 8px;
		padding: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}

	&__buttons {
		width: 100%;
		max-width: 833px;
		margin-left: 8px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		bottom: 16px;
		right: 16px;
		left: 5px;
	}
}

.success-window-container {
	width: 721px;
	height: 391px;
	padding: 0 13px 0 4px;
	position: relative;
	display: flex;
	margin: auto;
}

.success-window {
	margin-top: 56px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.success-window__title {
	height: 24px;
	width: 715px;
	padding: 0 10px 0 4px;
	position: absolute;
	top: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: $font-primary;
	font-weight: 700;
	font-size: $font-14;
	line-height: $font-18;
}

.success-gif-container {
	padding: 2px 2px 0 2px;
}

.column-left {
	margin: 0 24px;
}

.column-right {
	width: 256px;
	margin-top: 22px;
}

.success-window__buttons {
	max-width: 721px;
	margin-left: 8px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 16px;
	right: 16px;
	left: 5px;
	flex-wrap: wrap;
}

.video-container {
	width: 833px;
	height: 625px;
}

.counter {
	width: 124px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-primary;
	font-size: $font-16;

	color: $color-darkblue;
	border: 2px solid #979797;
	box-shadow: inset 2px 2px $color-black, inset -2px -2px $color-softgrey;
	background: #e6e6e6;
}

.action-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.action-buttons-secondary {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.preview-bar-container {
	width: 264px;
	margin-right: 119px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.preview-bar {
	width: 240px;
	height: 24px;
	padding: 0 2px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: $color-midgrey;
	box-shadow: inset 2px 2px $color-black, inset -2px -2px #fffcfc;
}

.preview-cell {
	width: 12px;
	height: 20px;
	background: $color-grey;
	overflow: hidden;
}

.preview-cell-active {
	background: $color-softpink;
}

.repeat-upload-container {
	width: 302px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

// OLD BUTTONS TO REFACTOR

.nav__btns {
	width: 419px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

.nav__secondary-btn {
	display: flex;
}

.nav__secondary-btn:hover + .nav__dropdown,
.nav__dropdown:hover {
	display: flex;
}

.preview-btn {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

//	BUTTONS
.btn {
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-primary;
	font-weight: 400;
	font-size: $font-16;
	line-height: $font-18;
	cursor: pointer;
}

.btn:hover {
	outline: dotted 1px $color-darkblue;
	outline-offset: -4px;
}

.btn-link {
	font-family: $font-primary;
	font-weight: 400;
	font-size: $font-16;
	line-height: $font-18;
	background: transparent;
	border: transparent;
	cursor: pointer;
}

.btn-link:hover {
	outline-offset: 4px;
}

.btn-default {
	width: 144px;
}

.btn-default-small {
	width: 36px;
}

.btn-search {
	width: 102px;
	justify-content: space-around;
}

.btn-close {
	width: 16px;
	height: 14px;
}

.btn-more {
	width: 81px;
	height: 34px;
}

.btn-small {
	width: 36px;
}

.btn-related {
	width: 81px;
	height: 34px;
	font-size: $font-14;
	position: relative;
	bottom: 46px;
	left: 11px;
	z-index: 2;
}

.capture-btn,
.stop-btn {
	display: flex;
	flex-direction: row;
}

.btn-adaptable {
	width: 100%;
	margin-top: 12px;

	background: $color-softpink;
	border: 1px solid $color-darkblue;
	box-shadow: $BoxShadow-1;
	color: $color-darkblue;
}

.btn-adaptable-secondary {
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&:hover {
		outline: dotted 1px $color-darkblue;
		outline-offset: -4px;
	}
}

.btn-theme {
	padding-left: $font-16;
	justify-content: flex-start;
}

.btn-play {
	width: 20px;
	height: 20px;
}

// EXTRA STYLES
.underline {
	text-decoration: underline;
}

.hidden {
	display: none;
}

.line-through {
	text-decoration: line-through;
}

.justify-left {
	justify-content: flex-start;
}

.justify-right {
	justify-content: flex-end;
}

.margin-left {
	margin-left: 16px;
}

.parent-wide-format {
	grid-column: span 2;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.btn:disabled,
.btn:disabled:hover {
	cursor: default;
	background: #b4b4b4;
	outline: none;
}
