.main-title {
	height: 23px;
	width: 100%;
	background: $color-gradient-day;
	box-shadow: inset 1px 1px $color-white, inset -1px -1px $color-darkblue;
	box-sizing: border-box;
	display: flex;

	&__text {
		align-self: center;
		color: $color-white;
		font-family: $font-primary;
		font-weight: 400;
		font-size: $font-12;
		line-height: 1em;
		margin-left: 7px;
	}
}

.container {
	max-width: 1200px;
	margin: auto;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
	margin-bottom: 16px;

	&__logo {
		margin: 8px 6.3px;
	}

	&__btns {
		width: 419px;
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: space-between;
	}

	&__btn {
		height: 36px;
		width: 144px;
		background: $color-softpink;
		border: 1px solid $color-darkblue;
		box-shadow: inset 1px 1px $color-white, inset -1px -1px $color-deadpink;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $color-darkblue;
		font-family: $font-primary;
		font-weight: 400;
		font-size: $font-16;
		line-height: $font-18;

		&--dropdown {
			width: 36px;
		}
	}

	&__secondary-btn {
		display: flex;
	}

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: $font-primary;
		font-weight: 400;
		font-size: $font-16;
		line-height: $font-18;
	}
}

.search {
	height: 99px;
	background: $color-softgrey;
	box-shadow: inset 2px 2px $color-white, inset -2px -2px #b4b4b4;

	&-title {
		height: 24px;
		display: flex;
		align-items: center;
		background: $color-gradient-day;
		margin: 2px;
		position: relative;
		top: 2px;

		&__text {
			margin-left: 6px;
			color: $color-white;
			font-family: $font-primary;
			font-size: $font-14;
			line-height: $font-18;
			font-weight: 700;
		}
	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 12px 18px 12px 15px;
	}

	&-input {
		height: 48px;
		width: 1057px;
		padding: 0 16px;
		border: 1px solid #979797;
		box-shadow: inset 2px 2px $color-black, inset -2px -2px $color-softgrey;
		font-family: $font-primary;
		font-size: $font-16;
		line-height: $font-22;
		color: #b4b4b4;
	}

	&-btn {
		width: 102px;
		height: 36px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background: $color-softgrey;
		box-shadow: inset 1px 1px $color-white, inset -1px -1px #b4b4b4;
		color: #b4b4b4;
		font-family: $font-primary;
		font-size: $font-16;
		line-height: $font-18;
	}
}

.tendencies,
.today,
.results {
	margin-top: 64px;
}

.section-header {
	height: 32px;
	padding: 0 7px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	background: #fffafe;
	border: 1px solid #e6bbe2;
	box-shadow: inset 2px 2px $color-deadpink, inset -2px -2px #e6dce4;
	color: $color-darkblue;
	font-family: $font-primary;
	font-weight: 400;
	font-size: $font-14;
	line-height: $font-18;
}

.today {
	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 288px;
		height: 313px;
		background: #e6e6e6;
		box-shadow: inset 2px 2px $color-white, inset -2px -2px #b4b4b4;
	}
}

.item {
	&-header {
		height: 24px;
		margin: 0 4px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $color-gradient-day;
		position: relative;
		top: 2px;

		&__text {
			margin: 0 3px;
			color: $color-white;
			font-family: $font-primary;
			font-size: $font-14;
			font-weight: 700;
			line-height: $font-18;
		}

		&__img {
			width: 16px;
			height: 14px;
			margin: 0 4px;
		}
	}

	&__img {
		width: 280px;
		height: 280px;
		position: relative;
		top: 4px;
		left: 4px;
		z-index: 1;
	}

	&__btn {
		width: 81px;
		height: 34px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		bottom: 46px;
		left: 11px;
		z-index: 2;
		background: $color-blue;
		border: 1px solid #4c2f99;
		box-shadow: inset 2px 2px $color-white, inset -2px -2px #284f99;
		color: $color-white;
		font-family: $font-primary;
		font-size: $font-14;
		font-weight: 400;
		line-height: $font-18;
	}
}

// GIFS FORMATTING (RESUTLS AND TENDENCIES) ---------------------------------------------

.gif {
	width: 294px;
	height: 304px;
	display: flex;
	margin-bottom: 8px;
	position: relative;
	justify-content: space-between;
	background: #e6e6e6;
	box-shadow: inset 2px 2px $color-white, inset -2px -2px #b4b4b4;

	&:hover .gif__text {
		visibility: visible;
	}

	&__img {
		width: 286px;
		height: 296px;
		position: relative;
		margin: auto;
		align-self: center;
	}

	&__text {
		width: 286px;
		height: 24px;
		position: absolute;
		bottom: 0px;
		align-items: center;
		background: $color-gradient-day;
		margin: 0 4px 4px 4px;
		color: $color-white;
		padding: 0 4px;
		font-family: $font-primary;
		font-weight: 700;
		font-size: $font-14;
		line-height: $font-24;
		visibility: hidden;
	}
}

.tendencies-container,
.results-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
