//  Color Pallete
$color-grey: #e6e6e6;
$color-lightgrey: #999999;
$color-softgrey: #e6e6e6;
$color-blue: #4180f6;
$color-darkblue: #110038;
$color-softpink: #f7c9f3;
$color-pink: #ee2efe;
$color-deadpink: #997d97;
$color-white: #ffffff;
$color-softred: #ff6161;
$color-red: #993a3a;
$color-black: #000000;

$color-shadow-top: #8f8f8f;
$color-shadow-top-secondary: #5c5c5c;

$color-gradient-day: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
$color-gradient-night: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);

//  Fonts
$font-primary: 'Chakra Petch', sans-serif;

$font-22: 1.375em;
$font-18: 1.125em;
$font-16: 1em;
$font-14: 0.875em;
$font-12: 0.75em;
